.About{
    width: 100%;
    background-image: url("../../assets/backAbout.png");
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    div{
        width: 40%;
        margin: 10px;

        img{
            width: 70%;
        }

        p{
            width: 80%;
            margin: 20px 1px;
            text-align: justify;
        }
    }
}