.Detail{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: url("../../assets//back-detail-2.png");
    background-repeat: no-repeat;
    background-size: cover;
}