.Detail{
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: url("../../assets//back-detail-2.png");
    background-repeat: no-repeat;
    background-size: cover;

    div{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}